#calculatorContainer{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width:300px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-100px 0 0 -150px;
}

.section{
	clear:both;
	padding:0;
	margin:0
}

.col{
	background-color:#f4f4f4;
	height:20px;
	text-align:center;
	display:block;
	float:left;
	margin:1% 0 1% 1.6%
}

.col:first-child{
	margin-left:0
}

.col:hover{
	background-color:#B9B9E0
}

.group:before,.group:after{
	content:"";
	display:table
}

.group:after{
	clear:both
}

.c1of4{
	width:23.8%
}

.c2of4{
	width:49.2%
}

.c3of4{
	width:74.6%
}

.c3of4{
	width:100%
}

.operation{
	color: white;
	background-color: orange;
}

.screen{
	text-align: right;
	color: white;
	background-color: black;
}

.hued{
	background-color: #CCC7C7;
}